@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
* {
  box-sizing: border-box;
}
/* 基本樣式 */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1,
h2 {
  font-family: 'Poppins', sans-serif;
}
img {
  max-width: 100%;
}
/* 每一區塊因為包在container裡所以寬度內距都一致而且置中 */
.container {
  width: 1000px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}
/* header因為加了背景圖所以看起來是滿版 */
header {
  background-image: url(./images/bg-hero-desktop.svg);
  background-size: cover;
  background-position: center center;
  background-color: hsl(193, 100%, 96%);
  padding: 40px 0;
}
/* 一致用flex排版 */
.flex {
  display: flex;
  align-items: center;
}
.flex > div,
.flex ul {
  flex: 1;
}
/* .align-start {
  align-items: flex-start;
} */
nav {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.logo {
  height: 30px;
}
/* 按鈕都用同樣式 */
.btn {
  background-color: #fff;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 15px 60px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
/*不同按鈕再去改顏色  */
.btn-primary {
  background-color: hsl(322, 100%, 66%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.box {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 40px 0;
  padding: 40px;
}
.box img {
  width: 80%;
}
/* inline-block盒子會依內容自適應大小 */
.small-box {
  display: inline-block;
  margin-bottom: -50%;
  position: relative;
  z-index: 1;
}
.center {
  padding: 0;
  text-align: center;
}
footer {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding: 150px 0 60px;
}
.footer-logo {
  display: inline-block;
  transform: translateY(-40px);
}
.footer-flex {
  display: flex;
}
.footer-flex > div {
  width: 200px;
  margin-right: 40px;
}
.footer-flex > div:nth-child(1) {
  width: 400px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin-bottom: 20px;
}
footer .circle {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}
footer p {
  text-align: right;
  transform: translateX(150px) translateY(40px);
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  position: relative;
}
.contact-img {
  position: absolute;
  left: 0;
  transform: translateY(5px);
}
/* 手機版樣式 */
@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  header {
    padding: 0;
  }
  nav.flex {
    flex-direction: row;
  }
  .flex {
    flex-direction: column;
  }
  .footer-flex {
    flex-direction: column;
  }
  .header-img {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
  }
  .logo {
    width: 150px;
    height: 25px;
  }
  .btn {
    background-color: #fff;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
  .btn-primary {
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
  }
  .box-reverse-mobile {
    flex-direction: column-reverse;
  }
  footer ul {
    /* background: #777; */
    margin: 20px 0;
    padding: 0;
    text-align: left;
  }
  ul.contact {
    padding: 0 40px;
  }
  .small-box {
    padding: 40px 23px;
  }
  .small-box h1 {
    font-size: 20px;
    /* position: absolute; */
  }
  .small-box button {
    margin-top: 20px;
  }
  footer p {
    text-align: center;
    transform: translateX(0px);
  }
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .center {
    margin: auto;
  }
  .footer-flex > div {
    width: 200px;
    margin-right: 70px;
  }
}
